<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Sistema e-Control</title>
	<link rel="icon" href="../images/Logo_SENA.png">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
	<div class="contenedor">
		<header>
			<div class="logo">
				<img src="../images/logo.png" alt="">
			</div>
			<nav class="menu" style="width: 48%;">
				<a href="../index.html">Inicio</a>
				<a href="Register.html">Registro</a>
				<a href="#">Invitado</a>
			</nav>
		</header>
		
		<section class="main">
			<br>
			<article>
				<div class="titulo">
					<h3>Sistema para el control de ingreso de elementos</h3>
					<h5>selecccione la opción a registrar</h5>
				</div>
			</article>
			<br>
			<article>
				<div class="card" style="width: 10rem;">
					<a href="Reg_aprendiz.html">
						<img src="../images/estudiantes.png" >
						<div class="card-body">
							<h7 class="card-title">Aprendiz<br>Instructor</h7>
						</div>
					</a>
				</div>
				<div class="card" style="width: 10rem;">
					<a href="Reg_elemento.html">
						<img src="../images/bicicleta.png" >
						<div class="card-body">
							<h7 class="card-title">Elementos</h7>
						</div>
					</a>
				</div>
			</article>
			<article>
				<div class="card" id="tabla">
					
				</div>
			</article>
		</section>
		<footer>
			<div class="autor">
				<p>Creado por:</p>
				<h7>Julián Alberto Ramírez</h7>
				<p>Instructor</p>
			</div>
			<div class="autor">
				<p>Sena - Regional Casanare </p>
			</div>
		</footer>
	</div>

	<script type="module" src="#"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
